GI4/S1/dotNET/Corrections/TP_Chap7/TP_Chap7/Connected Services/ProductsInfo/ProductsInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58391/ProductsInfo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TP_Chap7_WCF" />
  <xs:element name="GetProductsInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TP_Chap7_WCF" minOccurs="0" name="GetProductsInformationResult" nillable="true" type="q1:ArrayOfProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>